#root {
  flex: 1;
  padding: 16px;
  /* max-width: 768px; */
  /* display: flex; */
  flex-direction: column;
  /* margin: 0 auto; */
  /* text-align: center; */
}

#soc-med {
  margin: 16px;
  display: flex;
  flex: 1;
  /* align-items: center; */
  flex-basis: 64px;
  /* justify-content: center; */
}

.soc-med-img {
  height: 64px;
  padding-right: 24px;
}

footer {
  /* text-align: center; */
  font-size: 8px;
  padding: 16px;
  clear: both;
}

#apps {
  margin-top: 16px;
}

.action-msg {
  padding-top: 16px;
  clear: both;
}

.app-desc {
  padding: 0 !important;
}

.app-desc div {
  clear: both;
  padding: 4px 0;
}

.app-img, .site-img {
  border-radius: 16px;
}

.app-img img, .site-img img {
  border-radius: 24px;
  height: 120px;
}

.site-img {
  float: left;
  padding-right: 16px;
}

.site-block {
  clear: both;
}

.stores {
  width: 120px;
}

.app-block {
  width: 150px;
  clear: both;
}

.app-title {
  margin: 4px 0;
  margin-bottom: 0px;
}

.site-block:not(:last-child) {
  padding-bottom: 16px;
}

.site-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 120px;
  font-weight: bold;
}

#myname {
  font-weight: bold;
}