/* Lobster and Roboto font */
@import url('https://fonts.googleapis.com/css?family=Lobster|Roboto');

* {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

h1 {
  font-size: 2em;
}

#mainContainer {
  height: 100%;
}

#header {
  width: 100%;
  height: 120px;
  position: fixed;
  background-color: #f2f2f2;
  z-index:1;
  top: 0;
}

#header img {
  display: block;
  margin: auto;
  margin-top: 17.5px;
  width: 120px;
  z-index: 2;
}

#header h1 {
  /*text*/
  text-align: center;
  font-family: "Lobster", cursive;
  /* positioning */
  position: relative;
  /*remove space used to occupy h1*/
  top: -1em;
  margin-bottom: -1em;
  z-index: 3;
  /*overlap*/
  margin-top: -30px;
  text-shadow: 0px 3px 15px rgba(255, 255, 255, 1);
  display: block;
  transform: rotate(-15deg);
  -webkit-transform: rotate(-15deg);
}

#navigation {
  top:0;
  position: fixed;
  display: inline-block;
  margin-top: 36px;
  z-index: 4;
}

#navigation h1 {
  font-family: "Lobster", cursive;
}

#footer {
  clear: both;
  background-color: #1e272e;
  color: #FFFFFF;
  line-height: 2.5;
  text-align: center;
  padding: 25px;
}

#footer li {
  display: inline;
  padding: 50px;
}

#footer a {
  color: inherit;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
}

#footer a:hover {
  text-decoration: underline;
  opacity:0.6;
}

#footer p {
  line-height: 3;
}

#subContainer {
  position: relative;
  margin-top:120px;
  width: 100%;
  height: calc(100% - 120px);
}

/*menu box animation*/
@keyframes menuline {
    0%   {background-color: #000000;}
    50% {background-color: #747d8c;}
    100% {background-color: #000000;}
}

.main_menuBox {
  position: fixed;
  width: 50px;
  z-index: 6;
  margin-left: 30px;
}

.menuBox {
  width: 45px;
  height: 8px;
  background-color: black;
  margin: 6px 0px;
  opacity: 1;
  animation-name: menuline;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  -webkit-animation-name: menuline;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: menuline;
  -moz-animation-duration: 2s;
  -moz-animation-iteration-count: infinite;
 }

/*autohiding navigation bar*/
.navi-content {
  display: block;
  height: 100%;
  position: fixed;
  background-color: #f9f9f9;
  width: 240px;
  top: 0px;
  left: 0px;
  transform: translateX(-240px);
  padding: 36px 0px;
  z-index: 5;
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.5);
  transition: transform 0.5s, box-shadow 0.5s;
  -webkit-transition: transform 0.5s, box-shadow 0.5s;
  -moz-transition: transform 0.5s, box-shadow 0.5s;
}

#navigation:hover .navi-content, #navigation:active .navi-content {
  transform: translateX(0px);
  box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.5);
}

.navi-content li {
  font-size: 1.5em;
  line-height: 2.5;
  padding-left: 30px;
  background-color: inherit;
  transition: background-color 400ms;
  -webkit-transition: background-color 400ms;
  -moz-transition: background-color 400ms;
}

.navi-content li:hover {
  background-color: #a4b0be;
}

.navi-content h1 {
  padding-left: 30px;
  margin: 56px 0px 10px 0px;
  line-height: 2.0;
}

.navi-content li a {
  display: block;
  text-decoration: none;
  color: #000000;
}

/* table styling*/
table {
  line-height: 1.5;
  margin: 0.3em;
  font-size: 1em;
  background-color: #ffffff;
}

thead {
  color: #fff;
  background-color: #1e272e;
}

th {
  font-size: 1.1em;
  font-weight: bold;
  outline: 1px solid #fff;
}

thead, tbody, tfoot, td {
  outline: 1px solid #1e272e;
  padding: 3px;
}

tr:nth-of-type(even) {
  background-color: #dddddd;
}

tbody tr:hover, tfoot tr:hover {
  background-color: #ffdd59;
}

tfoot {
  font-weight: bold;
}

/* CSS Table */
.css-table {
  width: 100%;
  display: table;
}

.css-column {
  display: table-cell;
}

/*CSS Flexbox*/
.flexbox-wrap {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

/*centering elements with margin*/
.center {
  margin-left:auto;
  margin-right:auto;
}

/*hide*/
.css-hidden {
  visibility: hidden !important;
}

/*add box to div*/
.surround {
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: #1e272e;
  border-radius: 20px;
}

/*form styling*/
.formRow {
  font-size: 1.2em;
  content: "";
  display: table;
  clear: both;
  width: 100%;
}

.left-col {
  float: left;
  width: 30%;
  margin-top: 8px;
}

.right-col {
  float: left;
  width: 70%;
  margin-top: 8px;
}

input[type=number], input[type=date], input[type=text]{
  width: 100%;
  padding: 20px;
  border: 1px solid #485460;
  border-radius: 6px;
  font-size: 0.75em;
  box-sizing: border-box;
}

label {
  padding: 20px 20px 20px 0;
  display: inline-block;
}

.buttonRow {
  font-size: 1.5em;
  content: "";
  display: table;
  clear: both;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

input[type=submit], input[type=reset], input[type=button] {
    background-color: #1e272e;
    color: #FFFFFF;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input[type=submit]:hover, input[type=reset]:hover, input[type=button]:hover {
  background-color: #485460;
}

@media screen and (max-width:800px) {
  #header {
    height: 80px;
  }

  #navigation {
    margin-top: 26.5px;
  }

  #footer li {
    display: block;
    padding: 5px;
  }

  #footer p {
    font-size: 0.6em;
  }

  #subContainer {
    margin-top: 80px;
  }

  #header img {
    margin-top: 10px;
    width: 80px;
  }

  #header h1 {
    margin-top: -20px;
    font-size: 1.5em;
  }

  table {
    width: 75%;
  }

  .menuBox {
    width: 30px;
    height: 5px;
    margin: 3px 0px;
  }

  .left-col, .right-col, input[type=submit], input[type=reset], input[type=button] {
    width: 100%;
    margin-top:0;
  }

  .buttonRow {
    width: 56%;
    margin-top: 0;
  }

  input[type=radio] {
    float: left;
    margin-top: calc(1em + 10px);
  }

  input[type=radio] + label {
    float: left;
    display: block;
  }

  input[type=reset] {
    margin-top: 8px;
  }
}
