#errorDiv {
  display: none;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  position: fixed;
  top:20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  text-align: center;
}

#errorDiv h2 {
  font-size: 1.6em;
  font-weight: bold;
}

#errorDiv p {
  margin-top: 10px;
  line-height: 1.5;
}

.dimPage {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 7
}

#orderDetails {
  width: 100%;
  background-color: #ffffff;
}

#orderData {
  width: 100%;
}

form {
  display: block;
}

form fieldset legend {
  width: 100%;
  text-align: center;
  position: absolute;
  font-weight: bold;
  margin-top: 0.5em;
  font-size: 2em;
}

.fieldPad {
  padding-top: calc(3.5em - 12px);
}

.cakePad {
  padding-top: 3em;
}

#orderInfo {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #d2dae2;
}

#orderInfo legend {
  margin-left: -10%;
}

#cakeMenu {
  position: relative;
  width: 80%;
  background-color: #FFFFFF;
}

.cakeContainer {
  position: relative;
  float: left;
  width: 25%;
  margin: 20px 0;
  cursor: pointer;
}

div.cakeContainer:nth-of-type(3n+0) {
  margin: 20px 12.5%;
}

div.cakeContainer:nth-of-type(3n+2) {
  clear: left;
}

.cakeContainer-img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cakeContainer-img img {
  position: absolute;
  height: 100%;
  min-width: 100%;
  filter:blur(0px) grayscale(0%);
  transition: blur 0.3s linear, grayscale 0.3s linear;
  -webkit-transition: blur 0.3s linear, grayscale 0.3s linear;
  -moz-transition: blur 0.3s linear, grayscale 0.3s linear;
}

.cakeContainer-img:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

fieldset table {
  width: 40%;
}

fieldset table caption {
  font-weight: bold;
  line-height: 2.0;
  font-size: 1.2em;
}

fieldset table td:nth-of-type(2) {
  text-align: center;
}

.buttonRow {
  margin-top: 0;
}

#print {
  content: "";
  margin: 15px 0;
  margin-left: auto;
  margin-right: auto;
  display: table;
  clear: both;
  width:100%;
  font-size: 1em;
}

@media screen and (max-width:800px) {
  fieldset table {
    width: 80%;
  }
  form fieldset legend {
    font-size: 1.5em;
  }
  .fieldPad {
    padding-top: calc(2em - 12px);
  }
  .cakePad {
    padding-top: 2em;
  }
  .cakeContainer {
    width: 45%;
    float: left;
  }
  div.cakeContainer:nth-of-type(3n+0) {
    margin: 20px 0;
  }
  div.cakeContainer:nth-of-type(3n+2) {
    clear: inherit;
  }
  div.cakeContainer:nth-of-type(2n) {
    margin: 20px 10% 20px 0;
  }
}

@media screen and (max-width:600px) {
  .cakeContainer {
    width: 100%;
    clear: both;
  }
}
