h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

#invoice {
  position: relative;
  width: 80%;
  margin-bottom: 0;
  overflow: hidden;
  min-height: 5.5em;
}

.invoice-info {
  position: absolute;
  top: 50%;
  width: 50%;
  float: left;
  transform: translateY(-50%);
}

.invoice-table {
  width: 50%;
  float: right;
}

body, #mainContainer, #subContainer {
  overflow: hidden;
  height: auto;
}

table {
  margin-top: 0;
  width: 60%;
}

p {
  line-height: 1.5em;
  font-size: 1.2em;
}

#buttons {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0;
}

.buttonRow {
  display: block;
  float: left;
  clear:none;
  margin: 0 10px;
  width: calc(50% - 20px);
}

input[type=submit], input[type=button] {
  margin: 0 auto 1em auto;
  padding: 12px 20px;
  width: 50%;
  position: relative;
  display: block;
  font-size: 1em;
}

td:not(:first-of-type) {
  text-align: center;
}

tfoot {
  font-weight: bold;
}

@media print {
  * {
    color: #000000;
    background-color: transparent;
    filter: grayscale(100%);
  }
  h2 {
    padding: 0;
  }
  body, #mainContainer, #subContainer {
    height: auto;
  }

  #subContainer {
    margin-top: 80px;
  }
  #navigation {
    display: none;
  }
  #footer {
    display: none;
  }
  #buttons {
    display: none;
  }
  table {
    width: 80%;
  }
  table, thead, tbody, tfoot, tr, td, th {
    background-color: transparent !important;
    outline-color: #000000;
  }
  tr:nth-of-type(even) {
    background-color: #000000;
  }
  #header {
    height: 80px;
    top:0;
    background-color: transparent;
    z-index:1;
  }

  #header img {
    margin-top: 10px;
    width: 80px;
  }

  #header h1 {
    margin-top: -20px;
    font-size: 1.5em;
  }
  #invoice {
    display: block;
  }
  .invoice-info {
    width: 100%;
    transform: none;
    clear: both;
    position: static;
  }
  .invoice-table {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width:800px) {
  body, #mainContainer, #subContainer {
    height: auto;
    overflow: auto;
  }
  table {
    width: 85%;
  }

  input {
    width: 100%;
  }

  input[type=submit] {
    margin-top: 8px;
  }

  #invoice {
    display: block;
  }

  .invoice-info {
    width: 100%;
    transform: none;
    clear: both;
    position: static;
  }
  
  .invoice-table {
    width: 80%;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}
